name: Run Tests on Dev Branch
on:
 workflow_dispatch:
  # push:
  #   branches:
  #     - test
  # pull_request:
  #   branches:
  #     - test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:     
      - name: Test Scripts
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      
      - name: Install dependencies
        run: npm install
     
      - name: Run tests
        run: npm test
